body{
    padding: 0;
    margin: 0;
    background-color: #17141d;
    color: white;
}
.class-list{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.card{
    display: flex;
    position: relative;
    flex-direction: column;
    height: 350px;
    width: 400px;
    min-width: 250px;
    padding: 1.5rem;

    border-radius: 16px;
    background: 17141d;
    box-shadow: -1rem 0 3rem #000;
    transform: .2s;
}

.card:hover{
    transform: translateY(-2rem);
}
.card:hover~.card{
    transform: translateX(130px);
}
.card:not(:first-child){
    margin-left: -15px;
}
