*{
    margin: 0;
    padding: 0;
}
.pic{
    
    background-image: url(/pexels.jpg);
    width: 110vw;
    height: 110vh;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-size: 100% auto;
}
.card{
    
    position: relative;
    width: 450px;
    height: 250px;
    padding: 10px 15px 15px 10px;
    margin-top: 50px;
    background-image: url(/leather.jpg);
    background-size: cover;
    box-shadow: 
    /* top shadow */
    0px -10px 10px rgba(0, 0, 0, 0.5),
    /* bottom sahadow */
    0px 10px 10px rgba(0, 0, 0, 0.5),
    /* right sahadow */
    10px 0px 10px rgba(0, 0, 0, 0.5),
    /* left sahadow */
    -10px 0px 10px rgba(0, 0, 0, 0.5),
    inset 1px 1px 20px rgba(0, 0, 0, 0.5)
    ;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.logo{
    width: 120px;
    height: 120px;
    background: url(/crown.svg);
    background-size: cover;
    
    
}
.company-text{
    font-size: 26px;
    letter-spacing: 2px;
    word-spacing: 6px;
    padding-top: 20px;
    color: transparent;
    background: url(/texture.jpg);
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.2);
}