*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    background-color: rgba(147, 45, 73, 0.8);
    width: 400px;
    height: 600px;
    border-radius: 30px;
    border: 5px black solid;
    box-shadow: inset 20px 20px 40px rgba(7, 6, 6,0.6);
}